@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
/*Theme Colors*/
/**
 * Table Of Content
 *
 * 	1. Color system
 *	2. Options
 *	3. Body
 *	4. Typography
 *	5. Breadcrumbs
 *	6. Cards
 *	7. Dropdowns
 *	8. Buttons
 *	9. Typography
 *	10. Progress bars
 *	11. Tables
 *	12. Forms
 *	14. Component
 */
/*******************
 Our income
*******************/
.boton_top{
font-size: 25px;
background-color: honeydew;
border-radius: 5px;
width: 40px;
text-align: center;
margin-left: 10px;
}


.cmin-height {
  height: 105px; }

/*******************
 Blog Slide
*******************/
.blogs-slide .overlaybg {
  height: 452px;
  overflow: hidden; }

.blogs-slide .blogs-content {
  right: 0;
  left: 0;
  bottom: 0;
  text-align: left;
  padding: 20px;
  background: url(../img/gradiant-bg.png) top center repeat-x; }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 17px;
  }
  
.switch::before {
content: "";
position: absolute;
width: 26px;
height: 26px;
border-radius: 50%;
background-color: white;
top: 4px;
left: 4px;
transition: 0.3s;
}

.switch.on {
background-color: #2196F3;
}

.switch.on::before {
transform: translateX(26px);
}
